body {
    background-color: dimgrey;
}

.increase {
    padding-left: 100px;
    padding-top: 30px;
    display: flex;
}

.decrease {
    margin-left: 100px;
    margin-top: 10px;
}

.brian {
    margin-left: 100px;
    margin-top: 90px;
}


h2 {
    font-size: 50px;
}